body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0px;
}

header {
}

#topBar {
    background-color: #fff799;
    display: flex;
    padding-left: 10px;
}

#topMenu {
    padding: 5px;
}

.guide, .guide a {
    display: inline;
    padding-left: 10px;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/hero.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    text-align: center;
  }


h1 {
    font-weight: 700;
}

h2 {
    font-weight: 300;
}

#name {
    font-weight: 800;
    text-transform: lowercase;
    font-size: 20px;
}

#tagLine {
    text-transform: lowercase;
    font-size: 50px;
    font-weight: 600px;
    color: #fff;
    letter-spacing: 3px;
}
